{{ "<!-- navigation -->" | safeHTML }}

<nav class=" container navigation  thanksphoto ">
  <div class=" text-center col-md-8 offset-md-2 thanksphoto" id="navigation">
        {{ with site.Params.thanks }}
        <ul>
          {{ range . }}
          <li class="list-inline-item ">
            <img src="{{.logo}}"
            width="{{ .width }}"
            height="{{ .height }}"
            alt="{{.label}}"></li>
          {{ end }}
        </ul>
        {{ end }}
</div>
</nav>

<nav class="  container navigation">
  <div class="text-center align-items-center col-md-12 offset-md-0" id="navigation">
    {{ with site.Params.thankscommentary }}
    <ul>
      {{ range . }}
      <li class="list-inline-item">
      <p class="thankscomment">
        {{.content}}
      </p></li>
      {{ end }}
      </ul>
    {{ end }}
  </div>
</nav>

{{ "<!-- /navigation -->" | safeHTML }}
